aside {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  border-right: 1px solid #DDD;
  padding: 20px;
  text-align: right;
  height: 100%;
  font-family: 'Cousine';
  line-height: 20px;
}

aside section {
  margin-top: 30px;
}

aside section:first-child {
  margin-top: 0;
}

aside section h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #CC6600;
}
