aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  text-align: right;
  font-family: 'Cousine';
  font-size: 1.15em;
  line-height: 20px;
  background-color: #EEEEEE;
  border-right: 1px solid #DDD;
}

aside .label {
  font-size: 1.2em;
}

aside section {
  margin-top: 30px;
}

aside section:first-child {
  margin-top: 0;
}

aside section h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.7em;
  color: #CC6600;
}
