aside {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  border-right: 1px solid #DDD;
  padding: 20px;
  text-align: right;
}

aside section {
  margin-top: 30px;
}

aside section h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
