.contact > div {
  margin-top: 20px;
}

.contact > div:nth-child(2) {
  margin-top: 0;
}

.contact .web i {
  margin-left: 10px;
}

.contact .social i {
  margin-right: 15px;
}

.contact .social .social-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact .social .value {
  flex: 1;
}
