.skills .skill {
  margin: 5px 0;
}

.skills .skill .label {
  padding-top: 4px;
  padding-left: 5px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 14px;
  border: 1px solid #CCC;
  border-left: 0;
  border-right: 0;
  background-color: #DDD;
}

@media print {
  .skills .skill .label {
    background-color: #F0F0F0;
  }
}

.skills .skill .values {
  line-height: 15px;
}
