.interests .interests-wrapper {
  display: flex;
  flex-direction: row;
}

.interests .interest {
  border-left: 1px solid #CCC;
  padding: 0 5px;
}

.interests .interest .items {
  margin: 8px 0;
}

.interests .interest .description {
  line-height: 12px;
  font-size: 95%;
}
