.interests .interests-wrapper {
  display: flex;
  flex-direction: row;
}

.interests .interest {
  border-left: 1px solid #CCC;
  padding: 0 5px;
}

.interests .interest .items {
  margin: 10px 0;
}

.interests .interest .description {
  line-height: 14px;
}
