@import "../theme.scss";

main {
  background: $mainBackground;
  padding: $medium;

  @media print {
    background: $white;
  }

  header {
    font-size: $fontSizeHeader;
    line-height: $fontSizeHeader;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $border;

    .name {
      margin: $big 0;
      letter-spacing: 2px;
      display: flex;
      flex-direction: row;

      .firstName {
        margin-right: 2 * $big;
      }

      .firstName::first-letter {
        color: $color1;
      }

      .lastName::first-letter {
        color: $color2;
      }
    }

    .aboutMe {
      align-self: flex-end;
      font-size: $fontSizeHeadline;
      line-height: $fontSize1;
      font-variant-ligatures: none;
      color: $text2;
    }
  }

  .headline {
    margin: $bigger $big;
    font-size: $fontSize1;
    line-height: $lineHeightHeadline;
  }

  section {
    h2 {
      color: $color2;
      font-weight: bold;
      font-size: $fontSize2;
      margin: $medium 0;
    }
  }

  section.interests .container {
    display: flex;
    flex-direction: row;

    .interest {
      padding: 0 $medium;
      border-right: 1px solid $border;

      &:last-child {
        border: none;
      }

      .name {
        font-size: $fontSize1;
        margin-bottom: $medium;
      }
    }
  }

  .entry {
    margin-bottom: $big;
    display: flex;
    flex-direction: row;

    .dates {
      margin-right: $big;

      .duration {
        color: $text2;
        margin-top: $small;
      }
    }

    .content {
      flex: 1;

      .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .name {
          font-weight: bold;
          font-size: $fontSize1;
          margin-bottom: $small;
        }

        .company {
          font-weight: bold;
          text-align: right;

          .location {
            color: $text2;
          }
        }
      }

      .details {
        display: flex;
        flex-direction: row;

        .description {
          flex: 5;
        }

        .technologies {
          flex: 1;
          display: flex;
          flex-direction: column;
          border-left: 1px solid $border;
          padding-left: $medium;
          color: $text2;
        }
      }
    }
  }
}

