.entry {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 9px 0;
  border-bottom: 1px dotted #DDD;
}

.entry .dates {
  width: 70px;
  color: #222;
}

.entry .info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* clearfix */
.entry .header:after {
  content: "";
  display: table;
  clear: both;
}

.entry .header .title {
  font-weight: bold;
  font-size: 110%;
  color: #222;
}

.entry .location {
  float: right;
  text-align: right;
  font-size: 90%;
  color: #666;
}

.entry .details {
  display: flex;
  flex-direction: row;
}

.entry .technos {
  order: 2;
  width: 130px;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #CCC;
}

.entry .description {
  flex: 1;
  line-height: 16px;
  margin-top: 3px;
}
