@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Semibold.ttf');
}

@font-face {
  font-family: 'Cousine';
  src: url('/fonts/Cousine-Regular.ttf');
}

#cv {
  width: 1000px;
  margin: auto;
  background-color: #F9F9F9;
  border: 1px solid #CCCCCC;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  flex-direction: row;
}

.label {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: #666;
  vertical-align: middle;
}
