* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#cv {
  position: relative;
  height: 100%;
}

#cv > aside, #cv > main {
  height: 100%;
  position: absolute;
  top: 0;
  padding: 10px 10px 0;
}

#cv > aside {
  width: 200px;
  background-color: #EEEEEE;
  border-right: 1px solid #CCCCCC;
}

#cv > main {
  margin-left: 200px;
  background-color: #F9F9F9;
}

@media print {
  #cv > aside, #cv main {
    background-color: transparent;
  }

  #cv > aside {
    border-color: #EEEEEE;
  }
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: #666;
  vertical-align: middle;
}
