<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Développeur web full stack" />
    <title>Nils Layet - Curriculum vitæ</title>
  </head>
  <body>
    <div id="cv"></div>
  </body>
</html>
