$small: 4px;
$medium: 8px;
$big: 16px;
$bigger: 24px;

$color1: #CC6600;
$color2: #006699;

$white: #FFFFFF;
$border: #CCCCCC;
$text1: #333333;
$text2: #666666;
$icon: #666666;

$pageBackground: #DDDDDD;
$mainBackground: #FAFAFA;
$asideBackground: #F3F3F3;

$font: 'JetBrains Mono', 'Roboto Mono', 'Courier New', Courier, monospace;
$lineHeight: 16px;
$lineHeightSkill: 24px;
$lineHeightHeadline: 20px;

$fontSize: 11px;
$fontSize1: 14px;
$fontSize2: 16px;

$fontSizeHeader: 28px;
$fontSizeHeadline: 9px;

$fontSizeSkill1: 10px;
$fontSizeSkill2: 14px;
$fontSizeSkill3: 18px;
