header {
  margin-top: 15px;
}

header h1 {
  margin-bottom: 30px;
  padding: 5px 0;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 300%;
  color: #333;
}

header h1 .firstname {
  margin-right: 15px;
}

header h1 .firstname > *:first-child {
  color: #CC6600;
}

header h1 .lastName {
  margin-left: 15px;
}

header h1 .lastName > *:first-child {
  color: #006699;
}

header .summary {
  text-align: right;
  font-size: 85%;
  color: #666;
}